@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap');


/* ###################################  GENERAL SYLING ################################### */

:root {
	--primary-font: 'Playfair Display', serif;
	--secondary-font: 'Source Sans Pro', sans-serif;
	--light: #e7ecdd;
	--light-bg: rgba(245, 235, 215, 0.851);
	--dark-bg: #1a1a1a;
	--grey-bg: #2c2c2c;
	--highlight: #e7ddc3;
	--dark: #060606;
	--secondary-text: #a7a4b2;
	--grey-text: #c9c9c9;
	--frame-box-shadow: 1px 1px 20px 0px rgba(87, 83, 83, 0.9);
	--links: #816e4d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	height: 100vh;
}

h1,
h2,
h3 {
	font-family: var(--primary-font);
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: capitalize;
	line-height: 1.5;
	color: var(--primary-text);
}


::selection {
	color: #ffffff;
	background-color: #252525;
}

/* ###################################  NAVIGATION BAR ################################### */

/*=================== navbar ====================*/
nav {
	background: linear-gradient(-45deg,
			rgba(113, 72, 32, 0.75) 0%,
			rgba(81, 93, 51, 1) 100%);
}

.profile-menu,
.dropdown-menu {
	right: 0;
	left: unset;
}


.toggle-change::after {
	border-top: 0;
	border-bottom: .3em solid;
}

/* ###################################  HERO  ################################### */


/*=================== Heading content + hero image ====================*/

.frame {
	height: 80vh;
	width: 80vw;
	border-radius: 3px;
	background: var(--light-bg);
	box-shadow: var(--frame-box-shadow);
	overflow-x: hidden;
	overflow-y: auto;
}

@media screen and (max-width: 600px) {
	.frame {
		min-height: 100vh;
		min-width: 100vw;
	}

	.title {
		min-width: 75%;
	}

	#medium-logo {
		max-width: 50px;
	}

	.blog-content h {
		font-size: 3vw;
	}

	.cards-wrapper {
		flex-direction: column;
	}

	.card {
		min-width: 80vw;
	}
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 100px;
	left: 0;
	right: 0;
	height: 50px;
}

.brand-text {
	margin-top: 100px;
}

.right {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

a {
	font-family: var(--secondary-font);
	color: var(--primary-text);
	font-size: 0.75rem;
	font-weight: 600;
	border-radius: 3px;
	text-transform: capitalize;
	text-decoration: none;
	padding: 15px;
	cursor: pointer;
	transition: all .3s ease;
	display: inline-block;
	position: relative;
	line-height: 0.1;
}

a:after {
	position: absolute;
	content: "";
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background: var(--highlight);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

a:hover {
	font-size: 0.85rem;
}

a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

a:nth-child(1) {
	margin-left: 5px;
}

.underline {
	border-bottom: 10px var(--highlight) solid;
	display: inline-block;
	line-height: 0.4;
}

#sign-in,
#sign-up {
	font-family: var(--secondary-font);
	text-transform: capitalize;
	background: none;
	cursor: pointer;
	outline: none;
	border: none;
	margin: 15px;
	font-weight: 600;
	transition: .05s;
}

#sign-up {
	background: var(--dark-bg);
	color: var(--light-bg);
	border-radius: 3px;
	font-weight: 500;
	padding: 10px;
}

#sign-in {
	display: inline-block;
	position: relative;
}

#sign-in:after {
	position: absolute;
	content: "";
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background: var(--dark-bg);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

#sign-in:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

#sign-in:hover {
	transform: scale(1.1);
}

#sign-up:hover {
	font-size: 0.9rem;
}


.article-wrapper {
	top: 0;
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.title,
.hero-img {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.subtitle {
	display: inline-block;
}

.title {
	padding-top: 16%;
}

.hero-img {
	position: relative;
	width: 100%;
	height: 50vh;
	background-image: url("../images/logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;

}

/* ###################################  CAROUSEL ################################### */


#slider {
	margin-top: 80px;
}

.post-slide {
	background: #fff;
	margin: 20px 15px 20px;
	border-radius: 15px;
	padding-top: 1px;
	box-shadow: 0px 14px 22px -9px #bbcbd8;
	width: 100%;
	max-width: 300px;
	height: 100%;
}

.post-slide .post-img {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	margin: -12px 15px 8px 15px;
	margin-left: -10px;
}

.post-slide .post-img img {
	max-width: 300px;
	width: 100%;
	max-height: 300px;
	height: 100%;
	transform: scale(1, 1);
	transition: transform 0.2s linear;
}

.post-slide:hover .post-img img {
	transform: scale(1.1, 1.1);
}

.post-slide .over-layer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
	transition: all 0.50s linear;
}

.post-slide:hover .over-layer {
	opacity: 1;
	text-decoration: none;
}

.post-slide .over-layer i {
	position: relative;
	top: 45%;
	text-align: center;
	display: block;
	color: #fff;
	font-size: 25px;
}

.post-slide .post-content {
	background: #fff;
	padding: 2px 20px 40px;
	border-radius: 15px;
}

.post-title {
	text-align: center;
}

.post-slide .post-title a {
	font-size: 15px;
	font-weight: bold;
	color: #333;
	display: inline-block;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}

.post-slide .post-title a:hover {
	text-decoration: none;
	color: #3498db;
}

.post-slide .post-description {
	line-height: 24px;
	color: #808080;
	margin-bottom: 25px;
}

.post-slide .post-date {
	color: #a9a9a9;
	font-size: 14px;
}

.post-slide .post-date i {
	font-size: 20px;
	margin-right: 8px;
	color: #CFDACE;
}

.post-slide .read-more {
	padding: 7px 20px;
	float: right;
	font-size: 12px;
	background: #2196F3;
	color: #ffffff;
	box-shadow: 0px 10px 20px -10px #1376c5;
	border-radius: 25px;
	text-transform: uppercase;
}

.post-slide .read-more:hover {
	background: #3498db;
	text-decoration: none;
	color: #fff;
}

.owl-prev {
	left: -30px;
}

.owl-next {
	right: -30px;
}

.owl-prev,
.owl-next {
	position: absolute;
	top: 90px;
}

.owl-prev span,
.owl-next span {
	font-size: 80px;
	color: #060606;
}

/* ###################################  REVIEWS ################################### */

/*circle progress bar*/

.circle-wrap {
	margin: auto;
	width: 150px;
	height: 150px;
	background: #fefcff;
	border-radius: 50%;
	border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
}

.circle-wrap .circle .mask {
	clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
	width: 122px;
	height: 122px;
	border-radius: 50%;
	background: #d2eaf1;
	line-height: 120px;
	text-align: center;
	margin-top: 14px;
	margin-left: 14px;
	color: #1e51dc;
	position: absolute;
	font-weight: 700;
	font-size: 2em;
}

/*rating bars*/

.fa {
	margin-right: 5px;
}

.rating .fa {
	font-size: 22px;
}

.rating-num {
	margin-top: 0px;
	font-size: 60px;
}

.progress {
	margin-bottom: 5px;
}

.progress-bar {
	text-align: left;
}

.rating-desc .col-md-3 {
	padding-right: 0px;
}

.sr-only {
	margin-left: 5px;
	overflow: visible;
	clip: auto;
	height: fit-content;
}

.progress-bar-success {
	background-color: #5cb85c;
}

.progress-striped .progress-bar-success {
	background-image: -webkit-linear-gradient(45deg,
			rgba(255, 255, 255, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.15) 50%,
			rgba(255, 255, 255, 0.15) 75%,
			transparent 75%,
			transparent);
	background-image: -o-linear-gradient(45deg,
			rgba(255, 255, 255, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.15) 50%,
			rgba(255, 255, 255, 0.15) 75%,
			transparent 75%,
			transparent);
	background-image: linear-gradient(45deg,
			rgba(255, 255, 255, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.15) 50%,
			rgba(255, 255, 255, 0.15) 75%,
			transparent 75%,
			transparent);
}

.progress-bar-info {
	background-color: #5bc0de;
}

.progress-striped .progress-bar-info {
	background-image: -webkit-linear-gradient(45deg,
			rgba(255, 255, 255, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.15) 50%,
			rgba(255, 255, 255, 0.15) 75%,
			transparent 75%,
			transparent);
	background-image: -o-linear-gradient(45deg,
			rgba(255, 255, 255, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.15) 50%,
			rgba(255, 255, 255, 0.15) 75%,
			transparent 75%,
			transparent);
	background-image: linear-gradient(45deg,
			rgba(255, 255, 255, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.15) 50%,
			rgba(255, 255, 255, 0.15) 75%,
			transparent 75%,
			transparent);
}

.progress-bar-warning {
	background-color: #f0ad4e;
}

.progress-striped .progress-bar-warning {
	background-image: -webkit-linear-gradient(45deg,
			rgba(255, 255, 255, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.15) 50%,
			rgba(255, 255, 255, 0.15) 75%,
			transparent 75%,
			transparent);
	background-image: -o-linear-gradient(45deg,
			rgba(255, 255, 255, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.15) 50%,
			rgba(255, 255, 255, 0.15) 75%,
			transparent 75%,
			transparent);
	background-image: linear-gradient(45deg,
			rgba(255, 255, 255, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.15) 50%,
			rgba(255, 255, 255, 0.15) 75%,
			transparent 75%,
			transparent);
}

.progress-bar-danger {
	background-color: #d9534f;
}

.progress-striped .progress-bar-danger {
	background-image: -webkit-linear-gradient(45deg,
			rgba(255, 255, 255, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.15) 50%,
			rgba(255, 255, 255, 0.15) 75%,
			transparent 75%,
			transparent);
	background-image: -o-linear-gradient(45deg,
			rgba(255, 255, 255, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.15) 50%,
			rgba(255, 255, 255, 0.15) 75%,
			transparent 75%,
			transparent);
	background-image: linear-gradient(45deg,
			rgba(255, 255, 255, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.15) 50%,
			rgba(255, 255, 255, 0.15) 75%,
			transparent 75%,
			transparent);
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
	clip: rect(0px, 75px, 150px, 0px);
	background-color: #eec44d;
}

.mask.full,
.circle .fill {
	animation: fill ease-in-out 3s;
}

/*Show Div On Click*/

#product-reviews {
	position: relative;
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}


.product-heading {
	letter-spacing: 1px;
	margin: 30px 0px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../images/row-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.product-heading p {
	font-size: 4.5rem;
	letter-spacing: 10px;
	text-transform: uppercase;
	background-color: rgb(113, 72, 32, 1);
	color: #cdcbd0;
	mix-blend-mode: hard-light;
	width: 100%;
	text-align: center;
}

.reviews-box-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.reviews-box {
	width: 100%;
	max-width: fit-content;
	max-width: 1000px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	padding: 20px;
	margin: 15px;
	cursor: pointer;
	white-space: normal;
}

.profile-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}

.profile-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.profile {
	display: flex;
	align-items: center;
}

.name-user {
	display: flex;
	flex-direction: column;
}

.location-user {
	display: flex;
	flex-direction: row;
}

.location-user span {
	float: left;
	padding-left: 5px;
}

.date-submitted {
	display: flex;
	flex-direction: row;
	float: left;
	margin-top: -5px;
	margin-left: 550px;
}

.date-submitted span {
	float: left;
	padding-left: 5px;
}

.date-submitted>.fa-clock {
	margin-top: 5px;
}

.name-user strong {
	color: #3d3d3d;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}

.name-user span,
.location-user span {
	color: #979797;
	font-size: 0.8rem;
}

.tags {
	float: left;
	padding: 2.5px;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
}

.tags>span {
	cursor: pointer;
	display: block;
	float: left;
	color: black;
	background: none;
	padding-left: 5px;
	padding-right: 5px;
	margin: 4px;
	border: 1px solid #D3D3D3;
}

.tags>span:hover {
	opacity: 0.7;
}

.modal {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .3s ease;
	z-index: 999;
	border: transparent;
}

.fade {
	background-color: rgb(113, 72, 32, .4);
	margin-top: 0%;
}

.close {
	position: absolute;
	background: rgb(255, 96, 92, 1);
	color: white;
	top: -.5px;
	right: -.5px;
}

#image {
	width: 100%;
	height: 40%;
}


.dater {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	min-width: 20px;
	min-height: 1em;
	text-align: center;
	text-transform: capitalize;
}


.reviews {
	color: #f9d71c;
}

.box-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.client-comment p {
	font-size: 0.9rem;
	color: #4b4b4b;
}

.reviews-box:hover {
	transform: translateY(-10px);
	transition: all ease 0.3s;
}

.reviews {
	margin-left: 0px;
}

/* media query for mobile devices - reviews section */


@media screen and (max-width: 600px) {
	.reviews-box {
		width: 100%;
		max-width: 1000px;
	}
}

@media (max-width: 1060px) {
	.reviews-box {
		width: 45%;
		padding: 10px;
	}
}

@media (max-width: 790px) {

	.reviews-box {
		width: 100%;
	}

	.reviews {
		margin-top: 40px;
		margin-left: -100px;
	}

	.date-submitted {
		margin-left: 25px;
	}

	.testimonial-heading h1 {
		font-size: 1.4rem;
	}
}

@media (max-width: 340px) {
	.box-top {
		flex-wrap: wrap;
		margin-bottom: 10px;
	}

	.reviews {
		margin-top: 10px;
	}
}

/* ###################################  FOOTER ################################### */

.footer {
	background: linear-gradient(-45deg,
			rgba(113, 72, 32, 0.75) 20%,
			rgba(81, 93, 51, 1) 80%);
	overflow: hidden;
	height: 100%;
	min-height: 32vh;
	width: 100%;
	position: static;
	left: 0;
	bottom: 0;
}

.footer-copyright {
	margin-top: -30px;
}

#w-a-r-btn,
.sm-icons {
	filter: invert(100);
}

.social-icon,
.social-icon__item {
	list-style: none;
	display: inline-block;
}

.social-icon__link {
	font-size: calc(12px + (10 - 5) * (100vw - 400px) / (800 - 400));
	color: rgba(255, 255, 255, .75);
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
}

.social-icon__link:hover {
	transform: translateY(-10px);
}


/* ###################################  DATATABLES ################################### */

/*datatables style*/

/*table body*/
.table-container {
	margin-top: 40px;
}

.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	margin: 30px 0;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
	padding-bottom: 15px;
	padding: 16px 30px;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}

.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}

.table-title .btn-group {
	float: right;
}

.table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none;
	margin-left: 10px;
}

.table-title .btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}

.table-title .btn span {
	float: left;
	margin-top: 2px;
}

table.table tr th,
table.table tr td {
	border-color: var(--highlight);
	padding: 12px 15px;
	vertical-align: middle;
}

table.table tr th:first-child {
	width: 60px;
}

table.table tr th:last-child {
	width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
	background-color: var(--light-bg);
}

table.table-striped.table-hover tbody tr:hover {
	background: var(--highlight);
}

table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}

table.table td:last-child i {
	opacity: 0.9;
	font-size: 22px;
	margin: 0 5px;
}

table.table td a {
	font-weight: bold;
	color: #566787;
	display: inline-block;
	text-decoration: none;
	outline: none;
}

table.table td a:hover {
	color: #2196F3;
}

table.table td a.edit {
	color: #FFC107;
}

table.table td a.delete {
	color: #F44336;
}

table.table td i {
	font-size: 19px;
}


/* ###################################  TOOGLE SWITCH ################################### */

.toggle-switch {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer
}

.toggle-switch:not(.form-group) {
	margin-bottom: 0
}

.toggle-switch-input {
	position: absolute;
	z-index: -1;
	opacity: 0
}

.toggle-switch-content {
	-ms-flex: 1;
	flex: 1;
	margin-left: .5rem
}

.toggle-switch-label {
	position: relative;
	display: block;
	width: 3rem;
	height: 2rem;
	background-color: #e7eaf3;
	background-clip: content-box;
	border: .125rem solid transparent;
	border-radius: 6.1875rem;
	transition: .3s
}

.toggle-switch-indicator {
	position: absolute;
	left: .125rem;
	bottom: 50%;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #fff;
	-webkit-transform: initial;
	transform: initial;
	box-shadow: 0 3px 6px 0 rgba(140, 152, 164, .25);
	border-radius: 50%;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
	transition: .3s
}

.toggle-switch-input:checked+.toggle-switch-label {
	background-color: #377dff
}

.toggle-switch-input:checked+.toggle-switch-label .toggle-switch-indicator {
	-webkit-transform: translate3d(1.025rem, 50%, 0);
	transform: translate3d(1.025rem, 50%, 0)
}

.toggle-switch-input.is-valid+.toggle-switch-label {
	background-color: #00c9a7
}

.toggle-switch-input.is-invalid+.toggle-switch-label {
	background-color: #ed4c78
}

.toggle-switch-input:disabled+.toggle-switch-label {
	background-color: rgba(231, 234, 243, .5)
}

.toggle-switch-input:checked:disabled+.toggle-switch-label {
	background-color: rgba(55, 125, 255, .5)
}

.toggle-switch-sm .toggle-switch-label {
	width: 2.5rem;
	height: 1.6125rem
}

.toggle-switch-sm .toggle-switch-indicator {
	width: 1.20938rem;
	height: 1.20938rem
}

.toggle-switch-sm .toggle-switch-input:checked+.toggle-switch-label .toggle-switch-indicator {
	-webkit-transform: translate3d(.81094rem, 50%, 0);
	transform: translate3d(.81094rem, 50%, 0)
}

/* ###################################  WRITE-A-REIEW.html ################################### */

.form-holder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.form-holder .form-content {
	position: relative;
	text-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 60px;
}

.form-content .form-items {
	border: 3px solid #fff;
	padding: 40px;
	display: inline-block;
	width: 100%;
	min-width: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: left;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.form-content .form-items label {
	padding-top: 5%;
	margin: 0;
	color: #fff;
	font-weight: 500;
}

.form-items {
	background: linear-gradient(-45deg,
			rgba(113, 72, 32, 0.75) 0%,
			rgba(81, 93, 51, 1) 100%);
}

.form-content h3 {
	color: #fff;
	text-align: left;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 5px;
}

.form-content h3.form-title {
	margin-bottom: 30px;
}

/* ###################################  USR-ACCOUNT.html ################################### */

#uf_first_name,
#uf_last_name,
#uf_location_select {
	font-weight: 600;
}

/*============Profile Photo===============*/
.profile-photo {
	max-width: 100px;
	width: 100%;
	z-index: 30;
	top: 100px;
}


/*===========Avatar upload===============*/

.avatar-upload .avatar-edit {
	position: absolute;
	left: 150px;
	top: 0;
	z-index: 90;
}

#imagePreview {
	background-image: url("https://res.cloudinary.com/diudkwkuw/image/upload/v1666370872/static/images/user-default-avatar.png");
}

.avatar-edit input {
	display: none;
}

.avatar-edit input+label {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-bottom: 0;
	border-radius: 100%;
	background: #ffffff;
	border: 1px solid transparent;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	font-weight: normal;
	transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
	background: #f1f1f1;
	border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
	content: "\f040";
	font-family: "FontAwesome";
	color: #757575;
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
}

.avatar-upload {
	width: 192px;
	height: 192px;
	border-radius: 100%;
	border: 6px solid #f8f8f8;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	z-index: 100;
	margin-left: -22%;
	margin-top: -6%;
}


.avatar-upload .avatar-preview>div {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.password-reset {
	float: right;
	border-radius: 100%;
	border: 6px solid #f8f8f8;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.password-reset img {
	width: 80px;
}

.submit-button {
	float: left;
	padding: 10px;
	margin-top: 40px;
}


/*==========media query for mobile devices==========*/

@media screen and (max-width: 600px) {

	.avatar-upload {
		width: 80px;
		height: 80px;
		margin-left: -38%;
		margin-top: -20%;
		border: 3px solid #816e4d;
	}

	.form-content p {
		color: #fff;
		text-align: left;
		font-size: 17px;
		font-weight: 300;
		line-height: 20px;
		margin-bottom: 30px;
	}

	.form-content input[type="text"],
	.form-content input[type="password"],
	.form-content input[type="email"],
	.form-content select {
		width: 100%;
		padding: 9px 20px;
		text-align: left;
		border: 0;
		outline: 0;
		border-radius: 6px;
		background-color: #fff;
		font-size: 15px;
		font-weight: 300;
		color: #8d8d8d;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		margin-top: 16px;
	}

	.form-label {
		color: #fff;
	}

	.btn-primary {
		background-color: rgba(32, 73, 113, 1);
		outline: none;
		border: 0px;
		box-shadow: none;
	}

	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active {
		background-color: #495056;
		outline: none;
		border: none;
		box-shadow: none;
	}

	.form-content textarea {
		position: static;
		width: 100%;
		padding: 8px 20px;
		border-radius: 6px;
		text-align: left;
		background-color: #fff;
		border: 0;
		font-size: 15px;
		font-weight: 300;
		color: #8d8d8d;
		outline: none;
		resize: none;
		height: 120px;
		-webkit-transition: none;
		transition: none;
		margin-bottom: 14px;
	}

	.form-content textarea:hover,
	.form-content textarea:focus {
		border: 0;
		background-color: #ebeff8;
		color: #8d8d8d;
	}

	.mv-up {
		margin-top: -9px;
		margin-bottom: 8px;
	}
}

/*media query for mobile devices*/

@media screen and (max-width: 600px) {

	.form-body {
		overflow: hidden;
	}

	form {
		width: 295px;
		margin-left: 100px;
		overflow: hidden;
	}

	.form-items h3,
	.form-items>p {
		margin-left: 100px;
	}
}



/* ###################################  WHO-ARE-WE.html ################################### */

.about {
	background-color: white;
	color: black;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-top: 40px;
}

.about h1 {
	padding: 10px 0;
	margin-bottom: 20px;

}

.about h2 {
	opacity: .8;
}

.about span {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin: auto;
	border-radius: 50%;
	font-size: 40px;
	color: #FFFFFF;
	opacity: 0.7;
	background: linear-gradient(-45deg,
			rgba(113, 72, 32, 0.75) 0%,
			rgba(81, 93, 51, 1) 100%);
	border: 2px solid rgb(113, 72, 32, 1);
}

.about-item:hover span {
	opacity: 1;
	border: 2px solid rgb(113, 72, 32, 1);
	font-size: 42px;
	-webkit-transform: scale(1.1, 1.1) rotate(360deg);
	-moz-transform: scale(1.1, 1.1) rotate(360deg);
	-o-transform: scale(1.1, 1.1) rotate(360deg);
	transform: scale(1.1, 1.1) rotate(360deg);
}

.about-item:hover h2 {
	opacity: 1;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.about .lead {
	font-size: 14px;
	font-weight: bold;
}


/* ###################################  USR-REGISTRATION.html ################################### */

.form-content .form-items .form-control {
	margin: 5%;
}

.form-content .form-items,
.form-items a {
	color: #fefcff;
}

/* media query for mobile devices */

@media screen and (max-width: 600px) {

	.form-items {
		margin-left: -25%;
		background: linear-gradient(-45deg,
				rgba(113, 72, 32, 1) 0%,
				rgba(81, 93, 51, 1) 100%);
	}

}


/* ###################################  USR-ACCOUNT.html ################################### */

#uf_first_name,
#uf_last_name,
#uf_location_select {
	font-weight: 600;
}

/*============Profile Photo===============*/
.profile-photo {
	max-width: 100px;
	width: 100%;
	z-index: 30;
	top: 300px;
}


/*===========Avatar upload===============*/

.avatar-upload .avatar-edit {
	position: absolute;
	left: 150px;
	top: 0;
	z-index: 999;
}

#imagePreview {
	background-image: url("https://res.cloudinary.com/diudkwkuw/image/upload/v1666370872/static/images/user-default-avatar.png");
}

.avatar-upload .avatar-edit input {
	display: none;
}


.avatar-upload .avatar-edit input+label {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-bottom: 0;
	border-radius: 100%;
	background: #ffffff;
	border: 1px solid transparent;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	font-weight: normal;

	transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
	background: #f1f1f1;
	border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
	content: "\f040";
	font-family: "FontAwesome";
	color: #757575;
	position: absolute;
	top: 5px;
	left: -80%;
	right: 0;
	text-align: center;
	margin: auto;
}

.avatar-upload .avatar-preview {
	width: 192px;
	height: 192px;
	border-radius: 100%;
	border: 6px solid #f8f8f8;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	z-index: 100;
	margin-left: -80%;
	margin-top: -40%;
}


.avatar-upload .avatar-preview>div {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.password-reset {
	float: right;
	border-radius: 100%;
	border: 6px solid #f8f8f8;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	left: 70px;
	top: -10px;
}

.avatar-edit input+label {
	width: 24px;
	height: 24px;
}

.avatar-upload .avatar-edit input+label:after {
	top: 0px;
}

.password-reset {
	border: 3px solid #fefcff;
	margin-right: 30%;
}

.password-reset img {
	width: 50px;
}

.submit-button {
	margin-top: 10%;
	margin-left: 12%;
}



@media screen and (max-width: 892px) and (orientation: landscape) {

	.avatar-upload {
		width: 80px;
		height: 80px;
		margin-top: -2%;
		margin-left: 15%;
		border: 3px solid #f8f8f8;
	}

	.avatar-upload .avatar-edit {
		left: 70px;
		top: -10px;
	}

	.password-reset {
		border: 3px solid #f8f8f8;
	}

	.password-reset img {
		width: 80px;
	}

	.submit-button {
		float: left;
		padding: 10px;
		margin-top: 40px;
	}

}

/*==========media query for mobile devices==========*/

@media screen and (max-width: 600px) {

	.offset {
		overflow: hidden;
	}

	.avatar-upload .avatar-preview {
		width: 80px;
		height: 80px;
		margin-left: -38%;
		margin-top: -20%;
		border: 3px solid #816e4d;
	}

	.avatar-upload .avatar-edit {
		left: -10px;
		top: -10px;
	}

	.avatar-upload .avatar-edit input+label {
		width: 24px;
		height: 24px;
		margin-left: 30px;
	}

	.avatar-upload .avatar-edit input+label:after {
		top: 0px;
		left: 1px;
	}

	.password-reset {
		border: 3px solid #fefcff;
		margin-right: 30%;
	}

	.password-reset img {
		width: 50px;
	}

	.submit-button {
		margin-top: 10%;
		margin-left: 12%;
	}
}


@media screen and (max-width: 892px) and (orientation: landscape) {

	.avatar-upload .avatar-preview {
		width: 80px;
		height: 80px;
		border: 3px solid #816e4d;
		margin-left: -100%;
	}

	.avatar-upload .avatar-edit {
		left: -30px;
		top: -10px;
	}


	.avatar-upload .avatar-edit input+label:after {
		top: 5px;
		left: -45px;
	}

	.password-reset {
		border: 3px solid #f8f8f8;

	}

	.password-reset img {
		width: 50px;
	}

	.submit-button {
		margin-top: 5%;
		margin-left: 12%;
	}

}

/* ###################################  PASSWORD-RESET.html ################################### */

.pr-container {
	margin-bottom: 150px;
}

.pr-container .px-2 {
	padding-right: 400px;
	padding-left: 400px;
}

.pr-container .px {
	padding-top: 100px;
}

.pr-container .form-label {
	color: black;
}

/* Small devices (portrait phones, less than 600px)*/
@media screen and (max-width: 600px) {
	.pr-container {
		margin-top: 60%;
		overflow: hidden;
		height: 60vh;
	}

	.pr-container .px-2 {
		padding: 0%;
		margin-right: 30%;
	}

	.pr-container .btn {
		white-space: nowrap;
		margin-left: -50%;
	}

}

@media screen and (max-width: 892px) and (orientation: landscape) {

	.pr-container {
		margin-top: 10%;
		margin-left: 20%;
		overflow: hidden;
		height: 100vh;
	}

	.pr-container .px-2 {
		padding: 0%;
		margin-right: 30%;
	}

	.pr-container .btn {
		white-space: nowrap;
		margin-left: -50%;
	}

}

/* ###################################  LOGIN.html ################################### */

.section-login {
	margin-top: 200px;
	min-height: 100vh;
}

.section-login .container {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 800px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-login .form-container {
	background: linear-gradient(-45deg,
			rgba(113, 72, 32, 0.75) 0%,
			rgba(81, 93, 51, 1) 100%);
	padding: 2.5rem 1.5rem;
	flex: 1;
	position: relative;
	min-height: 380px;
	display: flex;
	justify-content: flex-end;
}

.section-login .form-container .form {
	background-color: var(--light);
	width: 55%;
	padding: 2rem 1.5rem;
	position: absolute;
	top: 50%;
	left: 1.5rem;
	transform: translateY(-50%);
	min-height: 400px;
	height: 60vh;
	max-height: 700px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.4);
}

.section-login .form-container .form .form-control {
	margin-bottom: 10px;
}

.section-login .form-container .form .input {
	width: 100%;
	padding: 10px 12px;
	font-weight: 600;
	font-size: 16px;
	border: 1px solid #999;
	outline: none;
	transition: box-shadow 0.2s linear;
}

.section-login .form-container .form .input:focus {
	box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.1);
}

.section-login .form-container .btn {
	font-size: 18px;
	padding: 12px;
	border-radius: 0px;
	font-weight: bold;
	color: var(--light);
	cursor: pointer;
}

.section-login .form-container .form .btn-login {
	margin-top: 25px;
	border: 1px solid rgba(81, 93, 51, 1);
	background: linear-gradient(-45deg,
			rgba(113, 72, 32, 0.75) 0%,
			rgba(81, 93, 51, 1) 100%);
	box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.4);
	transition: box-shadow 0.2s linear;
}

.section-login .form-container .form .btn-login:hover {
	box-shadow: 0 0 15px var(--dark-bg);
}

.section-login .form-container .sign-up {
	width: 35%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.section-login .form-container .sign-up .text {
	color: var(--light);
	font-size: 28px;
}

.section-login .form-container .sign-up .btn-sign-up {
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
	border: 2px solid var(--light);
	margin-top: 15px;
	font-size: 16px;
	transition: box-shadow 0.2s linear;
}

.section-login .form-container .sign-up .btn-sign-up:hover {
	box-shadow: 0 0 15px var(--light-bg);
}


.forgot {
	position: relative;
	right: -70%;
}

.forgot a {
	text-decoration: none;
	font-size: 14px;
	color: var(--links);
}


@media screen and (max-width: 600px) {

	.section-login .form-container {
		display: block;
		width: 70%;
		max-width: 500px;
		padding: 5%;
		margin-top: -36%;
	}

	#user-login-form {
		height: 100%;
		margin-left: 38%;
	}

	.sign-up .text {
		margin-top: 10%;
	}

	.section-login .form-container .form,
	.section-login .form-container .sign-up {
		position: static;
		transform: initial;
		width: initial;
	}

	.section-login .form-container .form {
		width: 130%;
		position: relative;
		transform: translateX(-50%);
	}

	.forgot {
		right: 0%;
	}

}

@media screen and (max-width: 892px) and (orientation: landscape) {

	.section-login .form-container {
		margin-top: -12%;
		padding: 0;
	}

}


/* ###################################  KNOW-YOUR-MUSHROOMS.html ################################### */

.kym-container {
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: fit-content;
	width: 80%;
}

/* 	Product details */
.product-details {
	position: relative;
	text-align: left;
	padding: 30px;
	height: 100%;
	float: left;
	width: 50%;
	overflow: auto;
}

/* 	Product Name */
.kym-container .product-details h1 {
	font-family: 'Old Standard TT', serif;
	display: inline-block;
	position: relative;
	font-size: 34px;
	color: #344055;
	margin: 0;

}

.information {
	text-align: justify;
	font-size: calc(14px + (8 - 4) * (100vw - 400px) / (800 - 400));
	line-height: calc(14px + (9 - 4.5) * (100vw - 400px) / (800 - 400));
	font-weight: 500;
	color: #7d7d7d;
}

/* product image */
.product-image {
	transition: all 0.3s ease-out;
	display: flex;
	position: relative;
	overflow: hidden;
	height: 100%;
	height: 80vh;
	width: 50%;
}

/*button*/

a {
	font-family: var(--secondary-font);
	color: var(--primary-text);
	font-size: 0.75rem;
	font-weight: 600;
	border-radius: 3px;
	text-transform: capitalize;
	text-decoration: none;
	padding: 15px;
	cursor: pointer;
	transition: all .3s ease;
	display: inline-block;
	position: relative;
	line-height: 0.1;
}

a:after {
	position: absolute;
	content: "";
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background: var(--highlight);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

a:hover {
	font-size: 0.85rem;
}

a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

a:nth-child(1) {
	margin-left: 5px;
}

.underline {
	border-bottom: 10px var(--highlight) solid;
	display: inline-block;
	line-height: 0.4;
}



/*======================== media queries ===============================*/

/* Small devices (portrait phones, less than 600px)*/
@media screen and (max-width: 600px) {
	.product-details {
		width: 100%;
		overflow: auto;
	}

	.product-image {
		display: none;
	}

	.information {
		font-size: calc(8px + (4 - 2) * (100vw - 400px) / (800 - 400));
		line-height: calc(8px + (4 - 2) * (100vw - 400px) / (800 - 400));
	}

}


/* Small devices (landscape phones, less than 768px)*/

@media screen and (max-width: 892px) and (orientation: landscape) {

	.product-details {
		width: 100%;
		overflow: auto;
		padding: 10px;
	}

	.product-image {
		display: none;
	}

	.product-details-reishi::before {
		content: "";
		background-image: url("https://res.cloudinary.com/diudkwkuw/image/upload/v1666901688/static/images/reishi-tea_mnaj5f.jpg");
		background-size: cover;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: .2;
	}


	.product-details-lionsmane::before {
		content: "";
		background-image: url("https://res.cloudinary.com/diudkwkuw/image/upload/v1666901687/static/images/lionsmane-table_cb9xok.jpg");
		background-size: cover;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: .2;
	}

	.kym-container .product-details>p {
		font-size: calc(16px + (8 - 4) * (100vw - 400px) / (800 - 400));
		line-height: calc(16px + (8 - 4) * (100vw - 400px) / (800 - 400));
	}
}

/* Medium devices (tablets, less than 992px) */


@media screen and (max-width: 892px) and (orientation: landscape) {
	.product-details {
		width: 100%;
		overflow: auto;
	}

	.product-image {
		display: none;
	}

	.product-details-reishi::before {
		content: "";
		background-image: url("https://res.cloudinary.com/diudkwkuw/image/upload/v1666901688/static/images/reishi-tea_mnaj5f.jpg");
		background-size: cover;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: .2;
	}

	.product-details-lionsmane::before {
		content: "";
		background-image: url("https://res.cloudinary.com/diudkwkuw/image/upload/v1666901687/static/images/lionsmane-table_cb9xok.jpg");
		background-size: cover;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: .2;
	}

	.kym-container .product-details>p {
		position: relative;
		filter: invert(100);
		font-weight: 500;
	}
}

@media (max-width: 991.98px) and (orientation: portrait) {

	.product-details {
		width: 100%;
		overflow: auto;
	}

	.product-image {
		display: none;
	}

	.product-details-reishi::before {
		content: "";
		background-image: url("https://res.cloudinary.com/diudkwkuw/image/upload/v1666901688/static/images/reishi-tea_mnaj5f.jpg");
		background-size: cover;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: .2;
	}

	.product-details-lionsmane::before {
		content: "";
		background-image: url("https://res.cloudinary.com/diudkwkuw/image/upload/v1666901687/static/images/lionsmane-table_cb9xok.jpg");
		background-size: cover;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: .2;
	}

	.kym-container .product-details>p {
		font-size: calc(32px + (16 - 8) * (100vw - 400px) / (800 - 400));
		line-height: calc(32px + (16 - 8) * (100vw - 400px) / (800 - 400));
	}

}

/* ################################### FORUM.html ################################### */

.fm-container h1 {
	color: var(--primary-text);
}

.fm-container {
	color: #333;
	margin-top: 180px;
	text-align: center;
}

.fm-container li {
	display: inline-block;
	font-size: 1.5em;
	list-style-type: none;
	padding: 1em;
	text-transform: uppercase;
}

.fm-container li span {
	display: block;
	font-size: 4.5rem;
}

#go-back {
	font-size: 48px;
}


/*media query*/
@media all and (max-width: 768px) {
	.fm-container h1 {
		font-size: calc(1.5rem * var(--smaller));
	}

	.fm-container li {
		font-size: calc(1.125rem * var(--smaller));
	}

	.fm-container li span {
		font-size: calc(3.375rem * var(--smaller));
	}
}



/* ###################################  FORGOT-PASSWORD.html ################################### */

#content {
	margin-top: 100px;
	height: 100vh;
}

@media screen and (max-width: 600px) {

	#content {
		margin-left: -30%;
		padding: 5%;
	}

}


/* ###################################  ADD-PRODUCT.html / EDIT-PRODUCT.html ################################### */

.page-header {
	margin-top: 5%;
}

@media screen and (max-width: 600px) {
	.page-header {
		margin-top: 20%;

	}
}

@media screen and (max-width: 892px) and (orientation: landscape) {
	.page-header {
		margin-top: 15%;

	}
}


/* ###################################  APPROVE-REVIEWS.html / PRODUCTS.html / CONTACT-US-ADMIN.html ################################### */

.table-container {
	min-height: 100vh;
	width: 100%;
}

@media screen and (max-width: 600px) {
	.table-container {
		overflow: auto;
	}
}






/* ================================================= */


/* ================================================= */



/*================= color palette ====================*/

/*
background-color: rgba(113,72,32,1); -> brown
color: rgba(32,73,113,1) -> blue
rgba(81, 93, 51,1) -> militar green
*/