{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col-sm mb-2 mb-sm-0">

        <h1 class="page-header-title">Add product</h1>
      </div>
    </div>
  </div>
  <!-- Row -->
  <div class="row">
    <div class="col-lg-8">
      <!-- Card -->
      <div class="card mb-3 mb-lg-5">
        <!-- Header -->
        <div class="card-header">
          <h4 class="card-header-title">Product information</h4>
        </div>
        <!-- End Header -->

        <!-- Body -->
        <div class="card-body">
          <!-- Form Group -->
          <div class="form-group">
            <label for="productNameLabel" class="input-label">Title <i class="tio-help-outlined text-body ml-1"
                data-toggle="tooltip" data-placement="top"
                title="Products are the goods or services you sell."></i></label>

            <input type="text" id="add-product-title" class="form-control" name="productName" id="productNameLabel"
              placeholder="Mushroom Name" aria-label="Mushroom Name" required>
          </div>

          <!-- End Form Group -->

          <label class="input-label">Description</label>
          <div class="form-group">
            <textarea id="add-product-description" class="form-control" name="description" rows="3"
              placeholder="Description" required></textarea>
          </div>

        </div>
      </div>
      <!-- Card -->
      <div class="card mb-3 mb-lg-5">
        <!-- Header -->
        <div class="card-header">
          <h4 class="card-header-title">Media</h4>
          <!-- End Unfold -->
        </div>
        <!-- End Header -->
        <!-- Body -->
        <div class="card-body">
          <!-- Product image -->
          <input id="add-product-image" type="file" name="file" required>
        </div>
        <div class="card-footer">
          <button id="add-product-button" onclick="add_product()" type="button" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Content -->

{% endblock %}