{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="table-container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>All Pending Reviews</h2>
        </div>
      </div>
    </div>
  </div>
  <!--table displaying a list of pending reviews-->
  <table id="pending_reviews_datatable" class="table table-striped table-hover" style="width:100%">
    <thead>
      <tr>
        <td>Date submitted</td>
        <td>Username</td>
        <td>Variety</td>
        <td>Review</td>
        <td>Rating</td>
        <td>Status</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody id="pending_review_list_id">
    </tbody>
  </table>

  <script>
    // Call function to retrieve data of pending reviews
    get_all_products_reviews_for_user();
  </script>

  <script>
    // Activate Pagination & Search
    $(document).ready(function () {
      $('#pending_reviews_datatable').DataTable({
        pagingType: 'full_numbers',
      });
    });
  </script>

  <script>
    // Activate tooltip
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>