{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Mush! Community | Mushroom Review Blog</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Mush! Community provides insight to people who are passionate about mushrooms and want to know more along with reviews by people like you.">
    <meta name="keywords"
        content="Mushroom kits, mushroom kit, mushroom log, mushroom logs, log , logs, Reishi, Lion's Mane, Lions Mane, Shiitake, Oyster, Enoki, Pink Oyster, Blue Oyster, Golden Oyster, King Oyster">
    <meta name="robots" content="noindex, nofollow">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <!--Bootstrap CSS-->

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!--Font Awesome -->
    <script src="https://kit.fontawesome.com/de938dcd38.js" crossorigin="anonymous"></script>

</head>

<body class="d-flex flex-column h-100">
    <!-- Resposinve Navigation bar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><img id="logo" src="{% static 'images/logo-sy.gif' %}" alt="logo"
                    width="40" height="30"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="who-are-we.html">Who Are We</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="know-your-mushrooms.html">Know Your Mushrooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="forum.html">Mush! Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact-us.html">Contact Mush!</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-user"></i>
                </button>
                <ul class="dropdown-menu">
                    <li id="user_auth_account">
                    </li>
                    <li id="user_auth_dropdown">
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content%}

    {% endblock %}

    <!-- Responsive Footer -->
    <footer class="footer mt-auto py-3 bg-dark" style="height: 100%; min-height: 30vh;">
        <!--Footer Links-->
        <div class="container">

            <hr>

            <!--Call to action-->
            <div class="call-to-action text-center bg-success bg-gradient">
                <ul id="footer-buttons">
                </ul>
            </div>
            <!--/.Call to action-->

            <hr>

            <!--Social buttons-->
            <div class="text-center">
                <ul class="social-icon">
                    <li class="social-icon__item"><a class="social-icon__link" href="https://www.facebook.com/"
                            target="_blank" rel="noopener" aria-label="Facebook">
                            <i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li class="social-icon__item"><a class="social-icon__link" href="https://www.twitter.com/"
                            target="_blank" rel="noopener" aria-label="Twitter">
                            <i class="fab fa-twitter-square"></i></a>
                    </li>
                    <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/"
                            target="_blank" rel="noopener" aria-label="Linkedin">
                            <i class="fab fa-linkedin"></i></a>
                    </li>
                    <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/"
                            target="_blank" rel="noopener" aria-label="Instagram">
                            <i class="fab fa-instagram-square"></i></a>
                    </li>
                </ul>
            </div>
            <!--/.Social buttons-->

            <!--Copyright-->
            <div class="footer-copyright py-3 text-center text-white-50">
                <div>
                    © 2022 Copyright
                </div>
            </div>
        </div>
    </footer>

    <!--  JS script -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>