{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="form">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>
                        Contact Us
                    </h3>
                    <p>
                        Fill up the form below to send us a message.
                    </p>
                    <!-- Form -->
                    <form method="post" onsubmit="return contactUsFrom(event);" id="user-contactus-form">
                        {% csrf_token %}
                        <div class="col-auto">
                            <!-- First Name field -->
                            <input class="form-control" type="text" name="first_name" id="first_name"
                                placeholder="First Name" required>
                        </div>
                        <div class="col-auto">
                            <!-- Last Name field-->
                            <input class="form-control" type="text" name="last_name" id="lname" placeholder="Last Name"
                                required>
                        </div>
                        <div class="col-auto">
                            <!-- Email address field -->
                            <input class="form-control" type="email" name="email" id="email" placeholder="Email Address"
                                required>
                        </div>
                        <div class="col-auto">
                            <!-- Message field -->
                            <textarea class="form-control" style="resize: none;" rows="5" name="message" id="message"
                                placeholder="Your Message Here" required></textarea>
                        </div>
                        <div class="form-button mt-3">
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-success">
                                Send Message
                            </button>
                        </div>
                        <p class="text-base text-center text-gray-400" id="result"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}