{% extends "base.html" %}

{% load static %}

{% block content %}

<head>
  <!-- CSS-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

  <!-- Datatables CSS-->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

  <!-- Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <style>
    .footer {
      display: none;
    }
  </style>
  <!--JS-->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/apis_handler.js' %}"></script>
</head>


<body>
  <div class="table-container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>All Messages</h2>
          </div>
        </div>
      </div>
      <table id="messages_datatable" class="table table-striped table-hover" style="width:100%">
        <thead class="thead-light">
          <tr>
            <th>Date Received</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Message</th>
            <th>Actions</th>
          </tr>
        </thead>
        <!-- Display messages list START -->
        <tbody id="messages_list_table">

        </tbody>
        <!-- Display messages list END -->
      </table>
    </div>
  </div>

  <script>
    // Get all messages so to be displayed in the datatable
    get_messages();
  </script>
  <script>
    // Activate Pagination & Search
    $(document).ready(function () {
      $('#messages_datatable').DataTable({
        pagingType: 'full_numbers',
      });
    });
  </script>

  <script>
    // Activate tooltip
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

</body>

{% endblock %}