{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col-sm mb-2 mb-sm-0">

        <h1 class="page-header-title">Edit product</h1>
      </div>
    </div>
    <!-- End Row -->
  </div>
  <!-- End Page Header -->

  <div class="row">
    <div class="col-lg-8">
      <!-- Card -->
      <div class="card mb-3 mb-lg-5">
        <!-- Header -->
        <div class="card-header">
          <h4 class="card-header-title">Product information</h4>
        </div>
        <!-- End Header -->

        <!-- Body -->
        <div class="card-body">
          <!-- Form Group -->
          <div class="form-group">
            <label for="productNameLabel" class="input-label">Title <i class="tio-help-outlined text-body ml-1"
                data-toggle="tooltip" data-placement="top" title="Products"></i></label>

            <input type="text" id="edit-product-title" class="form-control" name="productName" id="productNameLabel"
              placeholder="Mushroom Name" aria-label="Mushroom Name">
          </div>

          <!-- End Form Group -->

          <label class="input-label">Description <span class="input-label-secondary">(Optional)</span></label>
          <div class="form-group">
            <textarea id="edit-product-description" class="form-control" name="description" rows="3"
              placeholder="Description"></textarea>
          </div>

          <!-- End Quill -->
        </div>
        <!-- Body -->
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="card mb-3 mb-lg-5">
        <!-- Header -->
        <div class="card-header">
          <h4 class="card-header-title">Media</h4>
          <!-- End Unfold -->
        </div>
        <!-- End Header -->
        <!-- Body -->
        <div class="card-body">
          <input id="edit-product-image" type="file" name="file">
          <!-- End Dropzone -->
        </div>
        <div class="card-footer">
          <button id="edit-product-button" onclick="edit_product()" type="button" class="btn btn-success">Save
            Changes</button>
        </div>
        <!-- Body -->
      </div>
      <!-- End Card -->

      <!-- End Card -->
    </div>
  </div>
  <!-- End Row -->

</div>


{% endblock %}