{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- ======== MAIN CONTENT ======== -->
<main id="content" role="main" class="main">
  <!-- Content -->
  <div class="container py-5 py-sm-7">
    <a class="d-flex justify-content-center mb-10" href="index.html">
    </a>

    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <!-- Card -->
        <div class="card card-lg mb-5">
          <div class="card-body text-center">
            <h1 class="display-4">Verify your email</h1>

            <p class="mb-1">We've sent a link to your email address: If your email address exists in our system, you will receive
              the email. </p>

            <span id="email-sent-display" class="d-block text-dark font-weight-bold mb-1"></span>

            <p>Please follow the link inside to continue.</p>

            <div class="mt-4 mb-3">
              <a class="btn btn-primary btn-wide" style="background:#816e4d;" href="login.html">Back to Sign in</a>
            </div>
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>
  <!-- End Content -->
</main>
<script>
  // email look-up
  var email = location.search.split('email=')[1]
  document.getElementById('email-sent-display').innerHTML = email
</script>
<!-- ========== END MAIN CONTENT ========== -->

{% endblock %}