{% extends "base.html" %}

{% load static %}

{% block content %}

<head>
  <!-- Title -->
  <title>Mush! - Reset Password</title>

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'v2/vendor/icon-set/style.css' %}">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{% static 'v2/css/theme.min.css' %}">

  <!-- Style -->
  <style>
    .footer {
      display: none;
    }
  </style>

  <!-- JS Global Compulsory  -->
  <script src="{% static 'v2/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'v2/vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'v2/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{% static 'v2/vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'v2/js/theme.min.js' %}"></script>

  <!--JS-->
  <script src="{% static 'js/apis_handler.js' %}"></script>
</head>

<!-- ========= MAIN CONTENT ========= -->

<body>
  <main id="content" role="main" class="main">
    <div class="position-fixed top-0 right-0 left-0 bg-img-hero"
      style="height: 32rem;">
      <!-- SVG Bottom Shape -->
      <figure class="position-absolute right-0 bottom-0 left-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
          <polygon fill="#fff" points="0,273 1921,273 1921,0 " />
        </svg>
      </figure>
      <!-- End SVG Bottom Shape -->
    </div>

    <!-- Content -->
    <div class="container py-5 py-sm-7">
      <a class="d-flex justify-content-center mb-10" href="index.html">
      </a>

      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
          <!-- Card -->
          <div class="card card-lg mb-5">
            <div class="card-body">
              <!-- Form -->
              <form class="js-validate">
                <div class="text-center">
                  <div class="mb-5">
                    <h1 class="display-4">Forgot password?</h1>
                    <p>Enter the email address you used when you joined and we'll send you instructions to reset your
                      password.</p>
                  </div>
                </div>

                <!-- Form Group -->
                <div class="js-form-message form-group">
                  <label class="input-label" for="forgot-password-email" tabindex="0">Your email</label>

                  <input type="email" class="form-control form-control-lg" name="email" id="forgot-password-email"
                    tabindex="1" placeholder="Enter your email address" aria-label="Enter your email address" required
                    data-msg="Please enter a valid email address.">
                </div>
                <!-- End Form Group -->

                <button type="button" style="background:#816e4d;" onclick="forgot_password_email()"
                  class="btn btn-lg btn-block btn-primary">Submit</button>

                <div class="text-center mt-2">
                  <a style="color:#816e4d;" class="btn btn-link" href="login.html">
                    <i class="tio-chevron-left"></i> Back to Sign in
                  </a>
                </div>
              </form>
              <!-- End Form -->
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
    </div>
    <!-- End Content -->
  </main>
  <!-- ========= END MAIN CONTENT ========= -->

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // INITIALIZATION OF FORM VALIDATION
      // =======================================================
      $('.js-validate').each(function () {
        $.HSCore.components.HSValidation.init($(this));
      });
    });
  </script>

</body>


{% endblock %}