{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- ========= MAIN CONTENT ========= -->
<main id="content" role="main" class="main">
  <div class="position-fixed top-0 right-0 left-0 bg-img-hero" style="height: 32rem;">
    <!-- SVG Bottom Shape -->
    <figure class="position-absolute right-0 bottom-0 left-0">
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
        <polygon fill="#fff" points="0,273 1921,273 1921,0 " />
      </svg>
    </figure>
    <!-- End SVG Bottom Shape -->
  </div>

  <!-- Content -->
  <div class="container py-5 py-sm-7">
    <a class="d-flex justify-content-center mb-10" href="index.html">
    </a>

    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <!-- Card -->
        <div class="card card-lg mb-5">
          <div class="card-body">
            <!-- Form -->
            <form method="post" onsubmit="forgot_password_email()">
              {% csrf_token %}
              <div class="text-center">
                <div class="mb-5">
                  <h1>Forgot password?</h1>
                  <p>Enter the email address you used when you joined and we'll send you instructions to reset your
                    password.</p>
                </div>
              </div>

              <!-- Form Group -->
              <div class="js-form-message form-group">
                <input type="email" class="form-control form-control-lg" name="email" id="forgot-password-email"
                  tabindex="1" placeholder="Enter your email address" aria-label="Enter your email address" required
                  data-msg="Please enter a valid email address.">
              </div>
              <!-- End Form Group -->

              <div class="float-end">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>

              <div class="float-start">
                <a style="color:var(--links);" class="btn btn-link" href="login.html">
                  Back to Sign in
                </a>
              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>
  <!-- End Content -->
</main>

{% endblock %}