{% extends "base.html" %}

{% load static %}

{% block content %}

<section>
    <div class="kym-container">

        <!-- Start	Product details of Reishi Mushroom-->
        <div class="product-details product-details-reishi">

            <!-- 	Product Name -->
            <h1>Reishi</h1>

            <!-- The most important information about the product -->
            <p class="information">Lingzhi, Ganoderma lingzhi, also known as reishi, is a polypore fungus
                ("bracket fungus") belonging to the genus Ganoderma.

                Its reddish brown varnished kidney-shaped cap with bands and peripherally inserted stem gives it a
                distinct fan-like appearance. When fresh, the lingzhi is soft, cork-like, and flat. It lacks gills
                on its underside, and instead releases its spores via fine pores (80–120 μm) in yellow colors.

                The lingzhi mushroom is used in traditional Chinese medicine. There is insufficient evidence
                to indicate that consuming lingzhi mushrooms or their extracts has any effect on human health or
                diseases.

                In nature, it grows at the base and stumps of deciduous trees, especially that of the maple. Only
                two or three out of 10,000 such aged trees will have lingzhi growth, and therefore its wild form is
                rare.[citation needed] Lingzhi may be cultivated on hardwood logs, sawdust, or woodchips.</p>
        </div>

        <!-- 	End	Product details   -->



        <!-- 	Start product image & Information -->

        <div class="product-image">

            <img src="https://res.cloudinary.com/diudkwkuw/image/upload/v1666901688/static/images/reishi-tea_mnaj5f.jpg" class="img-responsive" alt="Reishi">

        </div>
        <!--  End product image  -->


    </div>




</section>

<section>
    <div class="kym-container">

        <!-- Start	Product details -->
        <div class="product-details product-details-lionsmane">

            <!-- 	Product Name -->
            <h1>Lion's Mane</h1>

            <!-- The most important information about the product -->
            <p class="information">Hericium erinaceus (also called lion's mane mushroom, mountain-priest mushroom or
                bearded tooth fungus) is an edible mushroom belonging to the tooth fungus group. Native to North
                America, Europe and Asia, it can be identified by its long spines (greater than 1 cm length),
                occurrence on hardwoods, and tendency to grow a single clump of dangling spines. The fruit bodies
                can be harvested for culinary use.

                Hericium erinaceus can be mistaken for other species of Hericium, which grow across the same range.
                In the wild, these mushrooms are common during late summer and fall on hardwoods, particularly
                American beech and maple. Usually H. erinaceus is considered saprophytic, as it mostly feeds on dead
                trees. However, it can also be found on living trees, so may be a tree parasite. This could
                indicate an endophytic habitat.</p>

        </div>

        <!-- 	End	Product details   -->



        <!-- 	Start product image & Information -->

        <div class="product-image">

            <img src="https://res.cloudinary.com/diudkwkuw/image/upload/v1666901687/static/images/lionsmane-table_cb9xok.jpg" class="img-responsive" alt="Lion's Mane">

        </div>
        <!--  End product image  -->


    </div>

</section>

{% endblock %}