{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="section-login">
  <div class="container">
    <div class="form-container">
      <!-- user login form -->
      <form class="form" method="post" novalidate onsubmit="loginUser(); return false" id="user-login-form">
        {% csrf_token %}
        <div class="form-control">
          <input type="text" name="username" class="input username" placeholder="Email address / Username">
        </div>
        <div class="form-control">
          <input type="password" name="password" class="input password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-login">Log In</button>
        <p class="forgot"><a href="forgot-password.html">Forgot Password?</a></p>
      </form>
      <!-- user sign up link -->
      <div class="sign-up">
        <h2 class="text">Don't have an Account?</h2>
        <a href="usr-registration.html"> <button class="btn btn-sign-up">Sign Up</button></a>
      </div>
    </div>
  </div>
</section>

{% endblock %}