  {% extends "base.html" %}

  {% load static %}

  {% block content %}

  <!-- Password Reset Form  START-->
  <div class="pr-container">
    <form method="post" onsubmit="return change_current_password(event);" id="user-changecurrentpassword-form">
      {% csrf_token %}
      <div class="mb-3 px-2 px">
        <label for="currentPassword" class="form-label">Current password</label>
        <input type="password" required name="current_password" class="form-control" id="currentpassword">
      </div>
      <div class="mb-3 px-2">
        <label for="newPassword" class="form-label">New password</label>
        <input type="password" required name="new_password" class="form-control" id="newpassword">
      </div>
      <div class="mb-3 form-check px-2">
        <label for="confirmPassword" class="form-label">Confirm password</label>
        <input type="password" required name="confirm_password" class="form-control" id="confirmpassword">
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">Set new password</button>
      </div>
    </form>
    <!-- Password Reset Form  END-->
  </div>  

  {% endblock %}