{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="table-container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>All Products</h2>
        </div>
        <div class="col-sm-6">
          <a href="add-product.html" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Add
              Product</span></a>
        </div>
      </div>
    </div>
    <table id="products_datatable" class="table table-striped table-hover" style="width:100%">
      <thead class="thead-light">
        <tr>
          <th>Product</th>
          <th>Display on Carousel</th>
          <th>Product Description</th>
          <th>Date Added</th>
          <th>Actions</th>
        </tr>
      </thead>
      <!-- Display product list START -->
      <tbody id="product_list_table">

      </tbody>
      <!-- Display product list END -->
    </table>
  </div>
</div>

<script>
  // Get all products so to be displayed in the datatable
  get_products();
</script>
<script>
  // Activate Pagination & Search
  $(document).ready(function () {
    $('#products_datatable').DataTable({
      pagingType: 'full_numbers',
    });
  });
</script>

<script>
  // Activate tooltip
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>


{% endblock %}