{% extends "base.html" %}

{% load static %}

{% block content %}


<section class="text-center about">
    <!-- Main content START -->
    <h1>Who Are We</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-group"></span>
                <h2>Mush! Community</h2>
                <p class="lead">We are a learning network community sharing knowledge and reviews about mushrooms
                    cultivated at home by us</p>
            </div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-info"></span>
                <h2>Mush! KnowledgeBase </h2>
                <p class="lead">Easily retrievable information about the most popular mushrooms</p>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" dsata-wow-offset="200">
                <span class="fa fa-file"></span>
                <h2>Reviews</h2>
                <p class="lead">Audience can see mushroom reviews by variety. Registered users within Mush!
                    community can post a review</p>
            </div>

        </div>

    </div>
    <!-- Main content END -->
</section>

{% endblock %}