{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <!-- Heading -->
          <h3>Share your experience..</h3>
          <p>..and Write a Review</p>
          <!-- Input review form main content START-->
          <form method="post" onsubmit="write_a_review(event);" id="write-a-review-form">
            {% csrf_token %}
            <div class="col-md-12">
              <!-- Drop down for user to choose a mushroom variety -->
              <select name="product" id="write_review_product_dropdown" class="form-select mt-3" required>
                <option selected disabled value="">
                  Choose Your Mushroom Variety
                </option>

              </select>
            </div>
            <div class="col-md-12">
              <!-- Category options -->
              <select name="category" class="form-select mt-3" required>
                <option selected disabled value="">
                  Choose Type Of Growing Kit
                </option>
                <option value="Ready-To-Fruit-Block">
                  Ready-To-Fruit Block
                </option>
                <option value="Hardwood Log">Hardwood Log</option>
              </select>
            </div>
            <div class="col-md-12">
              <!-- Season options -->
              <select name="session" class="form-select mt-3" required>
                <option selected disabled value="">
                  Choose Harvest Season
                </option>
                <option value="Spring">Spring</option>
                <option value="Summer">Summer</option>
                <option value="Autumn">Autumn</option>
                <option value="Winter">Winter</option>
              </select>
            </div>
            <div class="mb-3">
              <br>
              <!-- Star rating -->
              <label for="exampleFormControlTextarea1" class="form-label">How was your mushroom growing experience
                ?</label>
              <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="stars">
              <div onclick="save_rating(1)" class="star1"><i class="far fa-star starj1"></i></div>
              <div onclick="save_rating(2)" class="star2"><i class="far fa-star starj2"></i></div>
              <div onclick="save_rating(3)" class="star3"><i class="far fa-star starj3"></i></div>
              <div onclick="save_rating(4)" class="star4"><i class="far fa-star starj4"></i></div>
              <div onclick="save_rating(5)" class="star5"><i class="far fa-star starj5"></i></div>
            </div>
            <div class="form-button mt-3">
              <!-- Submit button -->
              <button id="submit" type="submit" class="btn btn-primary">
                Submit Review
              </button>
            </div>
          </form>
          <!-- input review form main content END -->
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // Retrieve all products
  get_all_products_for_user();
</script>
<script>
  // star rating script
  var star1 = document.querySelector(".starj1");
  var star2 = document.querySelector(".starj2");
  var star3 = document.querySelector(".starj3");
  var star4 = document.querySelector(".starj4");
  var star5 = document.querySelector(".starj5");

  star1.addEventListener("click", function () {
    if (star1.classList.contains("far")) {
      star1.classList.remove("far");
      star1.classList.add("fas");
    } else if (
      star2.classList.contains("far") &&
      star3.classList.contains("far") &&
      star4.classList.contains("far") &&
      star5.classList.contains("far")
    ) {
      star1.classList.remove("fas");
      star1.classList.add("far");
    }
    if (star2.classList.contains("fas")) {
      star2.classList.remove("fas");
      star2.classList.add("far");
    }
    if (star3.classList.contains("fas")) {
      star3.classList.remove("fas");
      star3.classList.add("far");
    }
    if (star4.classList.contains("fas")) {
      star4.classList.remove("fas");
      star4.classList.add("far");
    }
    if (star5.classList.contains("fas")) {
      star5.classList.remove("fas");
      star5.classList.add("far");
    }
  });

  star2.addEventListener("click", function () {
    if (star2.classList.contains("far")) {
      star2.classList.remove("far");
      star2.classList.add("fas");
      star1.classList.remove("far");
      star1.classList.add("fas");
    }
    if (star3.classList.contains("fas")) {
      star3.classList.remove("fas");
      star3.classList.add("far");
    }
    if (star4.classList.contains("fas")) {
      star4.classList.remove("fas");
      star4.classList.add("far");
    }
    if (star5.classList.contains("fas")) {
      star5.classList.remove("fas");
      star5.classList.add("far");
    }
  });

  star3.addEventListener("click", function () {
    if (star3.classList.contains("far")) {
      star3.classList.remove("far");
      star3.classList.add("fas");
      star2.classList.remove("far");
      star2.classList.add("fas");
      star1.classList.remove("far");
      star1.classList.add("fas");
    }
    if (star4.classList.contains("fas")) {
      star4.classList.remove("fas");
      star4.classList.add("far");
    }
    if (star5.classList.contains("fas")) {
      star5.classList.remove("fas");
      star5.classList.add("far");
    }
  });

  star4.addEventListener("click", function () {
    if (star4.classList.contains("far")) {
      star4.classList.remove("far");
      star4.classList.add("fas");
      star3.classList.remove("far");
      star3.classList.add("fas");
      star2.classList.remove("far");
      star2.classList.add("fas");
      star1.classList.remove("far");
      star1.classList.add("fas");
    }
    if (star5.classList.contains("fas")) {
      star5.classList.remove("fas");
      star5.classList.add("far");
    }
  });

  star5.addEventListener("click", function () {
    if (star5.classList.contains("far")) {
      star5.classList.remove("far");
      star5.classList.add("fas");
      star4.classList.remove("far");
      star4.classList.add("fas");
      star3.classList.remove("far");
      star3.classList.add("fas");
      star2.classList.remove("far");
      star2.classList.add("fas");
      star1.classList.remove("far");
      star1.classList.add("fas");
    } else {
      star5.classList.remove("fas");
      star5.classList.add("far");
    }
  });
</script>


{% endblock %}